{% extends 'base.html' %}

		<!-- end navigation -->
 {% block body %}
    	<!-- start home -->
		{% if name %}
			 <center>
			 <br><br><br><br><br>
			 		 <h4> Thank you <span>{{ name }}</span> </h4>
					<p>we have received your message and will respond to you shortly. </p>
			 <br><br><br><br><br>
			 </center>
		{% endif %}
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We make website that are <span>Dynamic and Responsive.</span></h1>
    					<div class="element">
                            <div class="sub-element">Hello, This are my services.</div>
                            <div class="sub-element">This Website is Designed and provided by Ibeh John tech.</div>
                            <div class="sub-element">If you need a website, Please contact us.</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span>ABOUT</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-mobile"></i>
								</div>
								<h3 class="media-heading">FULLY RESPONSIVE</h3>
							</div>
							<div class="media-body">
								<p>A responsive website design is a web development approach that creates dynamic changes to the appearance of a website, depending on the screen size and orientation of the device being used to view it.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-comment-o"></i>
								</div>
								<h3 class="media-heading">FREE SUPPORT</h3>
							</div>
							<div class="media-body">
								<p>We design website that help customers to find the information and resources they need quickly and intuitively.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-database" aria-hidden="true"></i>
								</div>
								<h3 class="media-heading">Web Data Base</h3>
							</div>
							<div class="media-body">
								<p>We create website that uses database for the collection of data or information that is specifically organised for rapid search and retrieval by a computer.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->


    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>SERVICES</span></h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-laptop"></i>
    					<h4>Web Design</h4>
    					<p>We create and code website pages, using technical and non-technical skills to produce websites that fit your customers.</p>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<i class="fa fa-cloud"></i>
    					<h4>Cloud Computing</h4>
    					<p>Cloud computing is the delivery of computing services--including servers, storage, databases, networking, software, analytics, and intelligence over the internet to offer faster innovation , flexible resources, and economies of scale.  </p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-cog"></i>
    					<h4>UX Design</h4>
    					<p>User experience design is a design process whose sole objective is to design system that offers a great experience by users. We embrace the theories of a number of disciplines such as user interface design, usability, accessibility, information architecture, and human computer interaction.</p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->

<!--    	&lt;!&ndash; start portfolio &ndash;&gt;-->
<!--    	<section id="portfolio">-->
<!--    		<div class="container">-->
<!--    			<div class="row">-->
<!--    				<div class="col-md-12">-->
<!--    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> PORTFOLIO</h2>-->
<!--    				</div>-->
<!--    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--    					   <img src="static/images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project One</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--    				</div>-->
<!--    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Two</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Three</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Four</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Five</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Six</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Seven</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">-->
<!--                        <div class="portfolio-thumb">-->
<!--                           <img src="static/images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">-->
<!--                                <div class="portfolio-overlay">-->
<!--                                    <h4>Project Eight</h4>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>-->
<!--                                    <a href="#" class="btn btn-default">DETAIL</a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--    			</div>-->
<!--    		</div>-->
<!--    	</section>-->
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>US</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="" method="POST" >
							{% csrf_token %}
    						<label>FULL NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">

                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">

                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>

                            <input type="submit" class="form-control" value="submit">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>

    						<p><i class="fa fa-phone"></i> 08117459091</p>
    						<p><i class="fa fa-envelope-o"></i> ibehjohnweb@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i> Phase one, opposite obana. House No. 20.</p>
							<br><br><br>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="https://www.facebook.com/john.ibeh.566/" class="fa fa-facebook"></a></li>
    						<li><a href="https://www.instagram.com/shugar_boi_zoe/" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->
  {% endblock %}
